<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MyConnectionString"
			 connectionString="Data Source=LAPTOP\MSSQLSERVER01;Initial Catalog=QuanLyBanHang;Integrated Security=True;Encrypt=False"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>